.section {
	&.about {
		padding: 5.9375rem 0 4rem 0;
		@include wave($pathDarkWave);
		.header-mid__left {
			margin-bottom: 0;
		}
	}
}
.about_row {
	padding: 0;
}
.about__content {
	.top__title {
		&:before{
			left: 0;
			transform: translateX(0);
		}
	}
}
.form {
	&.about {
		background-color: #d6d6d6;
		box-shadow: 0 0.25rem 0 rgba(0, 0, 0, 0.6);
		opacity: 1;
		.form__title {
			color: $darkBlue;
		}
		.form__text {
			color: #5e6267;
		}
		.label__text {
			color: #778390;
		}
		.input {
			background-color: silver;
			color: #333;
			box-shadow: inset 0 0.188rem 0 rgba(0, 0, 0, 0.4);
			&:focus {
				box-shadow: 0 rem(-5px) #f39f18;
				background: darken(silver, 10%);
			}
		}
	}
}
.about__list {
	@include row-flex;
	justify-content: center;
	margin-top: rem(45px);
	.deals__item {
		@include col;
		@include size(3);
		@include size-xs(6);
		@include size-xxs(12);
		margin-bottom: rem(20px);
		cursor: default;
		text-decoration: none;
		.deals__svg {
			margin-bottom: rem(30px);
		}
		.deals__text {
			text-align: center;
			&:before{
				display: none;
			}
		}
	}
}
