.title_black {
	font-size: rem(30px);
	color: #000;
	@include font-family(bold);
}
.header {
	width: 100%;
	min-height: rem(760px);
	@include bg-cover('../img/header_bg.jpg');
	padding: rem(50px) 0 rem(30px) 0;
	.container {
		position: relative;
	}
}

.logo__link {
	color: $accent;
}
.hamburger {
	float: right;
	display: none;
	@include laptop {
		display: block;
		margin-top: -10px;
	}
}
.nav {
	@include laptop {
		display: none;
		z-index: 1000;
		//display: none;
		position: absolute;
		top: 100%;
		right: 0;
		width: 30%;
		background: darken($accent, 30%);
		padding: 10px 0;
	}
}
.nav__list {
	text-align: right;
	@include laptop {
		text-align: left;
	}
}
.nav__item {
	position: relative;
	display: inline-block;
	padding-left: 30px;
	//&:first-child {
	//	padding-left: 0;
	//}
	@include laptop {
		display: block;
		margin-top: 10px;


	}
}


.menu__list {

	position: absolute;
	top: -9999em;
	left: 20%;
	text-align: left;
	background: $accent;
	z-index: 1000;
	padding: 5px 15px;
	@include laptop() {
		left: auto;
		right: 100%;
	}

	@include pseudo() {
		width: 100%;
		height: 20px;
		position: absolute;
		top: -20px;
		left: 0;
	}
	.menu__item {
		margin-bottom: rem(10px);
		&:last-child {
			margin-bottom: 0;
		}
	}
	.menu__item-link {
		color: #000000;
		font-size: 18px;
		@include font-family(bold);
		&:hover {
			text-decoration: underline;
		}
	}
}
.nav__item-menu {
	position: relative;
	@include pseudo(after) {

		@include laptop {
			left: 0;
			margin-left: 10px;
			border-width: 4px 6px 4px 0;
			border-color: transparent #fff transparent transparent;
			top: 50%;
			transform: translateY(-50%);
		}
		width: 0;
		height: 0;
		position: absolute;
		top: 11px;
		right: -12px;
		border-style: solid;
		border-width: 6px 4.5px 0 4.5px;
		border-color: #ffffff transparent transparent transparent;
	}
	&:hover {

		color: red;
		.menu__list {
			top: 30px;
			@include laptop {
				top: 50%;
			}
		}
		.nav__item-link {
			color: black;
		}
		&:after {
			@include laptop {
				left: 0;
				margin-left: 10px;
				border-width: 4px 0 4px 6px;
				border-color: transparent transparent transparent #000;
				top: 50%;
				transform: translateY(-50%);

			}
			border-width: 0 4.5px 6px 4.5px;
			border-color: transparent transparent #000 transparent;
		}

	}
}
.nav__item-link {
	@include font-family(bold);
	font-size: rem(18px);
	transition: .25s ease;
	&.active {
		color: $accent;
	}
	&:hover {
		color: #000;
	}
}
//-_-_-_-_-_-_-_-_-_-_-_-_-/header-mid/_-_-_-_-_-_-_-_-_-_-_-_-//
.header-mid {
	padding: rem(200px) 0 rem(180px) 0;
}
.header-mid__wrap {
	text-align: center;
	@include font-family(bold);
}
.header-mid__title {
	font-size: rem(40px);
	color: #fff;
	margin-bottom: rem(20px);
	@include laptop {
		font-size: rem(30px);
	}
	@include phones {
		font-size: rem(25px);
	}
}
.btn {
	padding: rem(15px);
	background: $accent;
	font-size: rem(30px);
  color: #000;
	border-radius: 14px;
	box-shadow: 0 14px 24px rgba(0, 0, 0, 0.45);
	transition: background .25s ease;
	&:hover {
		background: lighten($accent, 5%);
	}
}
.btn-header {
}
.header-bottom {
	text-align: center;
}

.header-bottom__text {
	display: inline-block;
	position: relative;
	opacity: 0.5;
	color: white;
	@include font-family;
	font-size: 13px;
	@include phones {
		width: 80%;
	}
	@include pseudo(after, "*") {
		position: absolute;
		font-size: 37px;
		top: 50%;
		transform: translateY(-50%);
		right: rem(-20px);
	}
}
//-_-_-_-_-_-_-_-_-_-_-_-_-/mobile menu/_-_-_-_-_-_-_-_-_-_-_-_-//
