.section {
	padding-top: rem(95px);
	@include sm-block{
		padding-top: 4%;
	}
	&.rating, &.deals, &.advantages, &.about, &.contacts {
		background: $bg;
	}
	&.account {
		background: $darkBlue;
	}
	&.reviews {
		background: $cardBg;
	}
}

.section__top {
	text-align: center;
	@include row-float;
	.container {
	}
}
.top__row {
	@include col;
	@include size(10);
	@include shift(1);
	@include size-xxs(12)
	@include shift-xxs(0);
}
.top__title {
	font-size: 1.875rem;
	@include font-family(pfmedium);
	padding-bottom: rem(30px);
	position: relative;
	color: $darkBlue;
	@include pseudo() {
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translate(-50%);
		height: 0.25rem;
		min-width: 10rem;
		background: $accent;
	}

}
.top__desc {
	margin-top: rem(30px);
	.link {
		color: $accent;
		text-decoration: underline;
		transition: .25s ease;
		font-weight: 700;
		&:hover {
			text-decoration: none;
		}
	}
}

//-_-_-_-_-_-_-_-_-_-_-_-_-/rating_bottom/_-_-_-_-_-_-_-_-_-_-_-_-//
.rating-bottom {
	position: relative;
}
.bottom__triangle {
	position: absolute;
	bottom: 100%;
	left: 0;
	width: 100%;
	height:rem(70px);
	background: url('../img/rating/rating_triangle.svg');
	background-repeat:  no-repeat;
	background-size: 100% 100%;
	background-position: top;
	text-align: center;
}
.logo__svg_triangle {
	display: inline-block;
	fill: #63778D;
	margin-top: rem(25px);

}
.triangle__svg-libra {
  $wh: rem(160px);
	position: absolute;
	left: 50%;
	bottom: 0.8125rem;
	width: 14rem;
	margin-left: -7rem;
	height: 14rem;
  fill: $lightBlue;
	@include sm-block{
		display: none;
	}

}
.bottom__bg {
	width: 100%;
	min-height: rem(260px);
	background: $lightBlue;
}
//-_-_-_-_-_-_-_-_-_-_-_-_-/rating_mid/_-_-_-_-_-_-_-_-_-_-_-_-//
.rating-mid {
	min-height: rem(550px);
	margin-top: rem(70px);
	background: no-repeat top;
	@include lg-block{
		background-position: bottom;

	}
	@include md-block {
		min-height: rem(650px);
	}

	.container {
		position: relative;
	}
}
.rating__list {
	@include row-flex;
	padding-top: rem(57px);
	&.rating__item_bottom {
		padding-bottom: rem(67px);
		@include sm-block{
			padding-bottom: rem(70px);
		}
	}
	&.rating__item_top{
			@include sm-block{
				padding-bottom: rem(72px);
				padding-top: 0;
			}
	}
}

.rating__item {
	min-height: rem(126px);
	@include col;
	@include size(4);
	@include size-sm(12);
	word-wrap: normal;
	padding: 0 rem(40px);
	@include md-block {
		padding: 0;
	}
	@include sm-block {
		padding: 0 rem(40px);
		min-height: rem(110px);
	}
	@include xxs-block{
		padding: 0;
	}
	&.rating__item_top {
		margin-bottom: rem(100px);
		@include sm-block {
			margin-bottom: rem(20px);
		}
		&:nth-child(2) {
			margin-top: rem(-57px);
			@include sm-block{
				margin-top: 0;
			}
		}
		&:last-child {
			@include shift-left(4);
			@include shift-sm-left(0);

		}
	}
	&.rating__item_bottom {
		@include sm-block {
			margin-bottom: rem(20px);
		}
		&:nth-child(2) {
			margin-top: rem(57px);
			@include sm-block{
				margin-top:0;
			}
		}
	}
}

.item__link {
	font-size: 1.375rem;
	font-weight: 500;
	line-height: 1.5rem;
	text-decoration: underline;
	@include font-family(pfmedium);
	color: $accent;
	transition: .25s ease;
	&:hover {
		text-decoration: none;
	}

}
.item__text {
	&.rating__item_top{
		color: #111;
		@include pseudo(after){
			width: 100%;
			height: 1px;
			display: block;
			margin-top: rem(50px);
			background: rgba( #bec4cc, .55);
		}
	}
	&.rating__item_bottom{
		@include pseudo(after){
			width: 100%;
			height: 1px;
			display: block;
			margin-top: rem(30px);
			background: #818181;
		}
	}
	margin-top: rem(25px);
	color: #fff;
	font-size: 0.938rem;
	font-weight: 400;
	line-height: 1.125rem;
}
//-_-_-_-_-_-_-_-_-_-_-_-_-/section bottom all/_-_-_-_-_-_-_-_-_-_-_-_-//

.section__bottom {
	position: relative;
	width: 100%;
	min-height: rem(130px);
	text-align: center;
	vertical-align: middle;
	line-height: rem(130px);
	&.rating {
		background: $darkBlue;
		@include wave($pathWhiteWave)
	}
	&.deals {
		background-color: #e5e5e5;
		@include wave($pathDarkWave)
	}
	&.advantages {
		background-color: #d6d6d6;
		@include wave($pathDarkWave)
	}
	&.account {
		@include wave($pathGreyWave);
		background: $lightBlue;
	}
	&.work {
		background: $lightBlue;
		@include wave($pathWhiteWave)
	}
	.btn {
		white-space: nowrap;
	}
}

//-_-_-_-_-_-_-_-_-_-_-_-_-/popup style/_-_-_-_-_-_-_-_-_-_-_-_-//
.content .form {
	z-index: 2000;
	min-width: rem(320px);
	max-width: 22rem;
	background-color: rgb(36,51,67);
	padding: rem(35px) rem(35px) rem(30px);
	color: #97a4b2;
	font-size: .875em;
	border-bottom: #1A222B 4px solid;
	box-shadow: 0 0 18px rgba(0,0,0,.5), 0 0 0 5px #243343;
	border: none;
	border-radius: 1px;
	opacity: 1;
	.form__title {
		color: #fff;
	}
}
.modal {
	.close {
		color: #B2B7BC;
		&:before {
			display: none;
		}
		@include icon-pseudo($icon-close, after) {
			font-size: rem(26px);
			font-weight: normal;
			transition: .25s ease;

		}
		&:hover {
			color: #fff;
		}
	}
}
.overlay {
	background: rgba(0, 0, 0, 0.88);
}