.section {
	&.reviews {
		@include wave($pathWhiteWave)
	}
}
.slider {
	padding: rem(60px) 0 rem(100px) 0;
	@include row-flex;
	justify-content: center;
}
.slider__wrap {
	text-align: center;
	@include col;
	@include size(10);
	position: relative;
}
.slider__list {
	position: relative;
	width: 100%;
	overflow: hidden;
}
.slider__item {
	position: absolute;
	background: #e5e5e5;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 0;
	&.active {
		position: relative;
		z-index: 1;
		width: 100%;
	}
	&.inslide {
		z-index: 2;
		width: 100%;
	}
}
.card__item_yellow {
	border-color: $accent;
}
.slider__arr {
	position: absolute;
	cursor: pointer;
	min-width: rem(30px);
	font-size: rem(40px);
	color: #b1b1b1;
	top: 0;
}
.slider__arr-next {
	left: 100%;
	@include icon-pseudo($icon-angle-right) {

	};
}
.slider-arr-prev {
	right: 100%;
	@include icon-pseudo($icon-angle-left){
	}
}
.slider__dots {
	display: inline-block;
	margin-top: rem(20px);
}
.slider__dots-item {
	display: inline-block;
	width: rem(20px);
	height: rem(20px);
	border-radius: 50%;
	background: #ccc;
	margin-right: rem(10px);
	&:last-child {
		margin-right: 0;
	}
	&.active {
		background: $accent;
	}
}
.slider__dots-link {
	display: block;
	width: 100%;
	height: 100%;
}