//color
$accent: #ffeb3b;
$pink: #f50057;

$fontawesome_path: '../fonts/fontawesome';



//common style
@import "../libs/bootstrap-grid/bootstrap-grid";
@import "_misc/mixins";
@import "_misc/fonts";
@import "_misc/adjustment";
@import "_misc/font-awesome";
//libs
@import "../libs/mySlider/mySlider.min.css";


// animation
//@import "_misc/preloader";
@import "common/hamburger";
//@import "common/popup";

//section
@import "common/header";
@import "common/news";
@import "common/content";
//@import "common/account";
//@import "common/advantages";
//@import "common/work";
//@import "common/contacts";
//@import "common/reviews";
//@import "common/about";
//@import "common/footer";
