//color
$accent: #ffeb3b;
$pink: #f50057;
$white:  #cfd8dc;
$blue:  #84a1ad;

$fontawesome_path: '../fonts/fontawesome';



//common style
@import "../libs/bootstrap-grid/bootstrap-grid";
@import "_misc/mixins";
@import "_misc/fonts";
@import "_misc/adjustment";
@import "_misc/font-awesome";
//libs
@import "../libs/mySlider/mySlider.min.css";
@import "common/hamburger";

//section
@import "common/header";
@import "common/news";
@import "common/content";
@import "common/form";
@import "common/footer";
